    <section class="user-post">
        <div class="post-header">
            <h3></h3>
            <h3>Posted by: <span>David Monaghan</span> on <span>20/05/1979</span></h3>
        </div>

        <div class="post-text">
            <p>
            </p>
        </div>
    </section>