     <section class="user-post">
        <div class="post-header">
            <h3></h3>
            <h3>Posted by: <span id="blog-name"></span> on <span id="blog-date"></span></h3>
        </div>

        <div class="post-text">
            <p id="post">
            </p>
        </div>
    </section>