
 <section class="comment">
        <div class="comment-header">
             <input type="hidden" id="comment_id" name="comment_id" value="{{comment.id}}">
            <h3>Comment by: <span id="comment-name"></span> on <span id="comment-date">{{format_date}}</span></h3>
        </div>

        <div class="comment-text">
            <p id="comment-text">
            </p>
        </div>
        <div class="comment-lower">
            <button class="comment-button" id="update">Update</button>
            <button class="comment-button" id="delete">Delete</button>
        </div>
    </section>

        <script src="js/comment.js"></script>