{{#each blogs as |blog|}}
     <section class="user-post">
        <div class="post-header">
            <h3>{{blog.title}}</h3>
            <h4>Posted by: <span id="blog-name">{{blog.username}}</span> on <span id="blog-date">{{format_date blog.date_created}}</span></h4>
        </div>

       <div class="post-text">
            <p id="blog-text">{{blog.blog}}</p>
        </div>
    </section>
{{/each}}

