<section class="prompt">
    <div class="prompt-header">
        <h3>Sign up or Sign in?</h3>
    </div>

    <div class="buttons">
        <button id="sign-up">Sign up</button>
        <button id="sign-in">Sign in</button>
    </div>
</section>

<script src="js/signprompt.js"></script>