<section class="prompt">
    <div class="prompt-header">
        <h3>Sign up or Sign in?</h3>
    </div>

    <div class="buttons">
        <button id="sign-up"><a href="/sign-up">Sign up</a></button>
        <button id="sign-in"><a href="/sign-in">Sign in</a></button>
    </div>
</section>

