/* General page styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;

}



/* Height and backgroubd colour for header */
header {
    min-height: fit-content;
    background-color: rgb(125, 86, 162);
}


/* Styling for navigation options at top of page */
.header-options {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    background-color: rgb(78, 69, 69);
    padding: 1vh;
}

/* Font colour for navigation options */
.header-options h3 {
    color: whitesmoke;
    margin-left: 20px
}

/* Displays header divs as flex */
.header-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    padding: 3vh 6vh 3vh 6vh;

}

/* Header font styling */
header h1 {
    font-size: 11vh;
    color: whitesmoke;
    font-weight: bolder;
    align-items: center;
    text-shadow: 2px 2px 4px black;
}

/* Border radious for header image */
img {
    border-radius: 5px;
}

/* Styles the stored user blogs */
.user-post {
    width: 90%;
    margin-top: 6vh;
    margin-left: 5%;
    border:  rgb(78, 69, 69);


}


/* Font styling for previous blogs */
.post-header,
.comment-header {
    background-color: rgb(78, 69, 69);
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1vh 2vh 1vh 2vh;
    border-radius: 10px 10px 0 0;

}

/* Font styling for previous blogs */
.post-text {
    color: rgb(78, 69, 69);
    padding: 2vh;
    border: 2px solid rgb(78, 69, 69);
}   


.lower-post {
    border-radius: 0 0 10px 10px;
    border: 2px solid rgb(78, 69, 69);
}


.comment-text {
    color: rgb(78, 69, 69);
    padding: 2vh;
    border-radius: 0 0 10px 10px;
    border: 2px solid rgb(78, 69, 69);

}   

.comment {
    width: 70%;
    margin-top: 2vh;
    margin-left: 15%;
    border:  rgb(78, 69, 69);
}

.make-new-comment {
    border:  rgb(78, 69, 69);
    border-radius: 0 0 10px 10px;
}

.comment-lower {
   background-color:  rgb(125, 86, 162);
   border-radius: 0 0 10px 10px;
   text-align: center;
}

.comment-button {
    margin: 2vh;
    background-color: rgb(78, 69, 69);
    color: whitesmoke;
    border-radius: 5px;
    padding: 1vh;
}

/* Styling for sign up section */
.sign-up {
    margin-left: 30%;
    width: 40%;
    background-color: rgb(125, 86, 162);
    border-radius: 10px;
    margin-top: 10vh;

}

/* Styling for header of sign up section */
.sign-up-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(78, 69, 69);
    color: whitesmoke;
    border-radius: 10px 10px 0 0;
    padding: 2vh 0 2vh 0;

}

/* Centres user input boxes */
.sign-up-input {
    text-align: -webkit-center;
    padding-bottom: 2vh;

}

/* Styles user input boxes */
.sign-up-input input {
    display: block;
    margin-top: 2vh;
    height: 5vh;
    width: 60%;
    border-radius: 5px;
    padding-left: 2vh;


}

/* Styles sign up button */
.sign-up-input button {
    margin-top: 2vh;
    background-color: rgb(78, 69, 69);
    color: whitesmoke;
    border-radius: 5px;
    padding: 1vh;
}

/* Size for create a blog section */
.blog {
    width: 50%;
    margin: 10vh 0 0 25%;
 
}

/* Input title styling */
.title {
    border-radius: 5px;
    margin-bottom: 2vh;
    padding: 1vh;
    width: 50%;

}

/* Styles header for blog section */
.blog-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(78, 69, 69);
    color: whitesmoke;
    border-radius: 10px 10px 0 0;
    padding: 2vh;
}

/* Styles bottom for blog section */
.blog-text {
    background-color: rgb(125, 86, 162);
    display: block;
    width: 100%;
    border-radius: 0 0 10px 10px;
    height: fit-content;
    text-align: center;
    padding: 3vh 0 0 0;
}

/* Size for text area of blog section */
.blog-textarea {
    display: block;
    width: 70%;
    height: 25vh;
    margin: 0 0 0 15%;
    padding: 1vh;
    border-radius: 10px;

}

/* Styles button for blog section */
.blog-text button,
.new-blog-button  {
    background-color: rgb(78, 69, 69);
    color: whitesmoke;
    border-radius: 10px;
    padding: 2vh;
    margin: 3vh 0 2vh 0;

}


/* Centres button */
.new-button-div {
    text-align: center;
} 




/* Size for prompt section */
.prompt {
    border-radius: 10px;
    width: 30%;
    margin-left: 35%;
    margin-top: 15vh;
    padding: 3vh;

}

/* Styles header for prompt section */
.prompt-header {
    background-color: rgb(78, 69, 69);
    color: whitesmoke;
    border-radius: 10px 10px 0 0;
    padding: 2vh;
    text-align: center
}

/* Styles buttons for prompt section */
.buttons {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(125, 86, 162);
    border-radius: 0 0 10px 10px;
    padding: 4vh
}

/* Styles buttons for prompt section */
.buttons button {
    background-color: rgb(78, 69, 69);
    color: whitesmoke;
    border-radius: 5px;
    padding: 2vh;

}

/* Makes buttons bigger when you hover on them */
button:hover {
    transform: scale(1.1);
    cursor: grabbing;

}

/* Makes navigation routes change colour when you hover on them */
.header-options h3:hover {
    color: rgb(158, 75, 75);
    transform: scale(1.15);
    cursor: grabbing;

}

/* Makes page mobile responsive */
@media screen and (max-width: 600px) {

    .sign-up,
    .prompt {
        width: 70%;
        margin-left: 15%;

    }

    img {
        margin-top: 3vh;
    }

}